* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #a95f00;
}

.title h1 {
  text-align: center;
  color: aliceblue;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  padding: 25px;
  margin: 10px;
  width: 60px;
  height: 60px;
  border: none;
  box-shadow: 0px 2px 5px 2px;
  border-radius: 8px;
  background-color: #deb887;
}

.game {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  margin: auto;
  justify-content: center;
}

.newGame {
  text-align: center;
  height: 50px;
}
.resetGame {
  text-align: center;
  margin-top: 20px;
}

#resetBtn {
  padding: 12px;
  background-color: #deb887;
  color: white;
  border: none;
  border-radius: 8px;
}
#newGameBtn {
  padding: 12px;
  background-color: #deb887;
  color: white;
  border: none;
  border-radius: 8px;
}

.hide {
  display: none;
}

#winner {
  text-align: center;
  color: rgb(25, 250, 231);
}
#winnerDiv {
  text-align: center;
}

h3 {
  color: #a95f00;
  margin: -4px;
}
